{% extends 'base.html.twig' %}

{% import '_macro.html.twig' as utils %}

{% block title %}
    {{ parent() }} - {{ 'game.game_over'|trans }}
{% endblock %}

{% block content %}
    {{ utils.breadcrumb({'home': 'game_home', 'you_failed': app.request.attributes.get('_route')}) }}

    <h2>{{ 'game.you_lose'|trans }}</h2>
    <p>
        Oops, you're hanged... The word to guess was <strong>xilophon</strong>.
    </p>
    <p>
        <a href="{{ path('game_home') }}" class="btn btn-default">{{ 'game.play_again'|trans }}</a>
    </p>
{% endblock %}
