{% extends 'base.html.twig' %}

{% import '_macro.html.twig' as utils %}

{% block content_id 'game' %}

{% block content %}
    {{ utils.breadcrumb({'home': 'game_home'}) }}

    <h2>{{ 'game.guess_the_word'|trans }}</h2>

    <p class="attempts">
        {{ 'game.remaning'|transchoice(10, {'%count%':11}) }}
    </p>

    <ul class="word-letters">
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        {#
        {% for letter in game.wordLetters %}
            <li class="{{ game.isLetterFound(letter) ? 'guessed' : 'not-guessed' }}">
                {{- game.isLetterFound(letter) ? letter|upper : '?' -}}
            </li>
        {% endfor %}
        #}
    </ul>

    <p class="attempts">
        <a href="#">{{ 'game.reset'|trans }}</a>
    </p>

    <br class="clearfix" />

    <h2>{{ 'game.try_letter'|trans }}</h2>

    <ul>
        {% for letter in 'A'..'Z' %}
            <li class="letter btn">
                <a href="#">
                    {{ letter|upper }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>{{ 'game.try_word'|trans }}</h2>

    <form action="#" method="post" class="form-inline">
        <div class="form-group">
            <input name="word" class="form-control mb-2" placeholder="{{ 'game.word'|trans }}"/>
        </div>
        <button>{{ 'game.guess_word'|trans }}</button>
    </form>
{% endblock %}
