<nav>
    <ul>
        <li>
            <a href="{{ path('game_home') }}">{{ 'menu.game'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('register') }}">{{ 'menu.register'|trans }}</a>
        </li>
        <li>
            <a href="#">{{ 'menu.login'|trans }}</a>
        </li>
        <li>
            <a href="#">{{ 'menu.contact'|trans }}</a>
        </li>
    </ul>
</nav>
